@font-face {
  font-family: 'Roboto';
  src: local('Roboto-light'), local('Roboto-light'),
    url('../assets/fonts/Roboto-light.woff') format('woff'),
    url('../assets/fonts/Roboto-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-bold';
  src: local('Roboto-bold'), local('Roboto-bold'),
    url('../assets/fonts/Roboto-bold.woff') format('woff'),
    url('../assets/fonts/Roboto-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

