// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #1976D2
$secondary = #26A69A
$accent    = #9C27B0
$default  = #a2cdeb

$blue = #1976d2
$error = #f94f4f

$blueTable = #b3cfeb8f
$blueTable2 = #f6faff
$blueTable3 = #8cbae7

$lightBlue = #789abb

//width
$mobile = 320px
$tablet = 768px
$desktop = 1024px
$desktopW = 1440px
